* {
    font-family: 'Lato', sans-serif;
}

main{
    min-height: 900px;
}
.container-fluid {
    min-height: 300px;
    max-height: 300px;
}


.navbar-joggerly {
    background: #fff;
    padding: 1rem 1rem;
}


.navbar-joggerly li {
    margin-right: 35px;
}

#map {
    height: 49%;
    margin-bottom: 1%;
  }

.navbar-joggerly a {
    font-family: 'Lato', sans-serif;
    color: #444;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 1px;
}

.inputs-container{
    width: 500px; 
    margin: 0 auto; 
}
/*  search routes page */
#search-routes-page {
    padding-top: 50px;
}

#search-routes-page h1 {
    color: #444;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

#search-routes-page p {
    padding: 25px 0;
    color: #444;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}

#search-routes-page .form-control {
    border-radius: 0;
}

#search-routes-page select {
    width: 100%;
}

#routes-display {
    margin-top: 50px;
}

#routes-display img {
    width: 100%;
    min-height: 190px;
    max-height: 190px;
}

#routes-display .card-header {
    padding: 0;
}

#routes-display .card-body {
    color: #444;
}

.route-view-button {
    text-align: center;
    margin-top: 20px;
}

.route-view-button .btn-sm {
    padding: 5px 30px !important;
    letter-spacing: 1px;
    width: 100%;
}

#routes-filter {
    margin-top: 25px;
}

.routes-search-section {
    padding-bottom: 50px;
}

/* view route page */
#view-route-page {

}

#view-route-page h4 {
    color: #444;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 15px;
}

.btn-primary {
    border-radius: 0;
    text-transform: uppercase;
    background-color:#1abc9c;
    border-color: #1abc9c;
}

.btn {
    border-radius: 0;
}
.admin-user-section button, .admin-user-section a {
    margin-left: 5px;
}

#view-route-page .btn-danger {
    text-transform: uppercase;
    background-color:#c0392b;
    border-color: #c0392b;
    border-radius: 0;
}
.user-description {
    font-size: 18px;
}

.user-description .form-control {
    margin-top: 25px;
}

.user-description .btn {
    margin-top: 10px;
}

.outer-li{
    margin-bottom: 10px;
}

#view-route-page input, #view-route-page textarea {
    border-radius: 0;
}

#view-route-page .leave-review h4 { 
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 50px;
}

#view-route-page .reviews .card {
    margin: 25px 0;
}


html {
    scroll-behavior: smooth;
}
.hero-img{
    display: block;
    height: 550px;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
}
.menu-container{
    position: relative;
    margin-bottom: 50px;
}
.info-container{
    position: absolute;
    width: 480px;
    height: 370px;
    left: 60px;
    top: -40px;

}
.button{
    border: none;
    color: #ffffff;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    background: #18212C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-top: 50px;
}
.header{
    font-size: 42px;
    margin-bottom: 30px;  
    color: #ffffff; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}
.opener{
    width: 400px;
    color: #ffffff; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    text-align: justify;
    text-justify: inter-word;
}
#about{
    color: #111;
    margin-bottom: 50px;
}
.about-img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.info-p{
    width: 500px;
    margin-top: 50px;
    text-align: justify;
    text-justify: inter-word;
}

footer { 
    display: flex;
    height: 50px;
    justify-content: center; 
    align-items: center;  
    background-color: #111;
}
.filter-container{
    height: 200px;
    width: 300px;
    margin-right: 50px;
   
}

.footer-text{
    color: #ffffff;
}


.emp-profile{
    padding: 3%;
    margin-bottom: 3%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.profile-img{
    text-align: center;
}
.profile-img img{
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-desc{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

/*  admin panel */
.bg-admin {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.bg-admin a{
    font-weight: 800;
    text-transform: uppercase;
}

#admin-users-page {
    color: #444;
}

#admin-users-page .fa {
    color: #444;
}

#admin-users-page h2 {
    color: #444;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 25px;
}